<div class="product-list">
	{{#each product_list}}
		<div class="product-item">
			<img src="/images/test-product-img.jpg" alt="{{this.title}}">
			<p class="product-name">{{this.title}}</p>
			<hr>
			<div class="price">
				{{this.currencyFormat}} <span class="main-price">{{floor this.price}}</span>,{{only_cents this.price}}
			</div>
			{{#if this.installments}}
				<p class="installments">ou {{this.installments}} x <span class="value">{{this.currencyFormat}} {{format_installments this.price this.installments}}</span></p>
			{{/if}}
		</div>
	{{/each}}
</div>